.applications {
	color: white;
	letter-spacing: 0.1rem;
}

.member-options {
	display: flex;
	@media only screen and (max-width: 1080px) { flex-direction: column; align-items: center; gap: 50px; }
	@media only screen and (min-width: 1080px) { justify-content: space-between; }
	padding-bottom: var(--section-top-padding);
}

.option {
	@media only screen and (max-width: 1080px) { width: 80%; }
	@media only screen and (min-width: 1080px) { width: 40%; }
	padding: 20px;
	border: 5px dashed var(--light-gray);
	border-radius: 25px;
	h3 {font-weight: 600;}
}

.application-button-container{
	display: flex;
	justify-content: center;
	a { text-decoration: none; color: black;}
}

.application-button {
	border: 5px solid white;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 20px;
	background-color: white;
}

.application-button:hover {
	border: 5px solid white;
	background-color: var(--highlight-blue);
	color: white;
}

.event {
	@media only screen and (max-width: 1080px) { width: 100%; }
	@media only screen and (min-width: 1080px) { width: 40%; }
	padding: 20px;
	border: 3px solid var(--light-gray);
	border-radius: 25px;
    text-align: center;
    h4 { font-weight: 500; }
    img { width: 80%; padding: 10px; border-radius: 25px; }
}