body {
  background-color: white;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

button {
  background-color: blue;
  color: white;
  border: none;
  height: 36px;
  width: 100px;
}
